/* Smaller than standard 960 (devices and browsers) */
.html, .body {
  height: 100% !important;
  text-align: center !important;
  color: #858796 !important;
}
#accordionSidebar{
  width: 0% !important;

}

input{
  text-align:center;
}


.contentarea {

 /* 
  * replace 160px with the sum of height of all other divs 
  * inc padding, margins etc 
  */
  min-height: calc(100% - 160px); 
}
@media only screen and (max-width: 959px) {
  p{
      font-size: 10px;
  }

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
 
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    width: auto;
  }
  h5{
    text-align: center;
  }

  html, body {
    height: 100% !important;
    text-align: center !important;
    color: #858796 !important;
    }
  .lista{
    width: auto;
    font-size: 10px;
  }
  h1{
    font-size: 25px;
    
  }

  .b3{
    height:80px;
  }
 
}
