<!DOCTYPE html>
<html lang="pt-BR">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
-->
  <link rel="preload" type="text/css" href="./../assets/css/sb1.css">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
      style="width: 0px important!;">
    </ul>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <p></p>
        <p></p>

        <div class="container-fluid text-cente">

          <!-- Content Row -->
          <div class="row justify-content-md-center ">

            <div class="col col-lg-8 ">
              <h1 class="text-center mb-6 text-center text-success font-weight-bold">{{title}}</h1>
            </div>
          </div>
        </div>

        <hr class="border-bottom-success">
        <!-- Begin Page Content -->
        <div class="container-fluid pt-6">
          <div class="row justify-content-md-center mt-2">
            <div class="col col-lg-6">
              <h5 class="text-center text-success font-weight-bold">Valor atual do dólar {{dolar | currency:'BRL':true}}
              </h5>
            </div>

          </div>

          <div class="container-fluid text-cente mb-1 mt-2">

            <!-- Content Row -->
            <div class="row justify-content-md-center">

              <div class="col col-lg-8">
                <h5 class="text-center">Informe o nome do seu cartão de crédito</h5>
              </div>

            </div>
          </div>

          <div class="row justify-content-md-center">

            <div class="col col-lg-8">

              <div class="text-secondary">

              </div>
              <input placeholderright="Exemplo: Bradesco Visa Infinite" id="typeahead-template" type="text"
                class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
                [inputFormatter]="formatter" placeholder="EX: Itaucard Visa Infinite" />
              <small id="precoDolar" class="form-text text-muted">Se seu cartão não estiver disponivél clique <a
                  href="#">aqui.</a> </small>
            </div>
          </div>
          <div class="container-fluid text-cente">

            <!-- Content Row -->
            <div class="row justify-content-md-center">

              <div class="col col-lg-8">
                <h5 class="text-center pt-4">O que deseja?</h5>
              </div>

            </div>
          </div>

          <div>

            <div class="container-fluid">

              <!-- Content Row -->
              <div class="row justify-content-md-center">

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4 ">
                  <ng-template class="justify-content-md-center" #rt let-r="result" let-t="term">
                    <p class="lista">
                      <ngb-highlight class="justify-content-md-center lista" [result]="r.name" [term]="t">
                      </ngb-highlight>
                    </p>
                  </ng-template>
                </div>

              </div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row justify-content-md-center ">
              <div class=" form-group col col-lg-8">

                <div class="row">
                  <div class="col-sm mb-3">
                    <button (click)="opcoesBotao(true,false,false)" [disabled]="!model.name" type="button"
                      class="btn btn-success btn-lg ">Quanto preciso gastar para acumular pontos
                    </button>
                  </div>
                  <div class="col-sm mb-3">
                    <button (click)="opcoesBotao(false,true,false)" [disabled]="!model.name" type="button"
                      class="btn btn-success btn-lg">Em quantos meses consigo acumular pontos
                    </button>
                  </div>
                  <div class="col-sm mb-">
                    <button (click)="opcoesBotao(false,false,true)" [disabled]="!model.name" type="button"
                      class="btn btn-success btn-lg b3"> Quantos pontos consigo acumular </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="model.name">

        <app-gasto-por-ponto
            [cartao]="model">
        </app-gasto-por-ponto>

        <div class="container-fluid" *ngIf="menu.op1">

          <!-- Content Row -->
          <div class="row justify-content-md-center">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="">
                <label for="exampleInputEmail1">quantos pontos quer acumular?</label>
              </div>
              <div class="">
                <div class="form-group">
                  <input (input)="myFunction()" currencyMask [(ngModel)]="primeiraTela.pontos"
                    [options]="{ prefix: '', thousands: '.', decimal: ',' }" min="1" class="form-control"
                    id="precoDolar" aria-describedby="emailHelp" placeholder="Ex: 20000">
                </div>
              </div>

            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="">
                <label for="exampleInputEmail1">em quantos meses?</label>
              </div>
              <div class="">
                <div class="form-group">
                  <input placeholder="Ex: 12" (input)="myFunction()" [(ngModel)]="primeiraTela.meses" type="number"
                    min="1" class="form-control" style="text-align:right !important;" id="precoDolar"
                    aria-describedby="emailHelp" value="4.16">
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="container-fluid"
          *ngIf="menu.op1 && primeiraTela.custo > 0 && primeiraTela.pontos >0 && primeiraTela.meses >0 ">
          <div class="row  justify-content-md-center">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Para acumular</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{primeiraTela.pontos | currency:" ":"symbol"}} pontos</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Em</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{primeiraTela.meses}} meses</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">É nescessario gastar
                        mensalmente</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{primeiraTela.custo | currency:'BRL':true}} </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="container-fluid" *ngIf="menu.op2">
          <!-- Content Row -->
          <div class="row justify-content-md-center">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="">
                <label for="exampleInputEmail1">qual o seu gasto mensal no cartão?</label>
              </div>
              <div class="">
                <div class="form-group">
                  <input (input)="myFunction_2()" currencyMask [(ngModel)]="segundaTela.custo"
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" min="1" class="form-control"
                    placeholder="Ex: R$2000" />
                </div>
              </div>

            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="">
                <label for="exampleInputEmail1">quantos pontos quer acumular?</label>
              </div>
              <div class="">
                <div class="form-group">
                  <input (input)="myFunction_2()" currencyMask [(ngModel)]="segundaTela.pontos"
                    [options]="{ prefix: '', thousands: '.', decimal: ',' }" min="1" class="form-control"
                    id="pontosAcumulados" aria-describedby="emailHelp">

                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="container-fluid"
          *ngIf="menu.op2 && segundaTela.meses >= 0 && segundaTela.custo >0 && segundaTela.pontos >0">
          <div class="row  justify-content-md-center">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Para acumular no cartão
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{segundaTela.pontos | currency:" ":"symbol"}}
                        pontos</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Com gasto mensal de
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{segundaTela.custo | currency:'BRL':true}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">VOCÊ IRÁ ACUMULAR EM</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{segundaTela.meses.toFixed(0)}} meses
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" *ngIf="menu.op3">
        <div class="row justify-content-md-center">

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="">
              <label for="exampleInputEmail1">qual o seu gasto mensal no cartão?</label>
            </div>
            <div class="">
              <div class="form-group">
                <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" (input)="myFunction_3()"
                  [(ngModel)]="terceiraTela.custo" min="1" class="form-control" id="terceiraTelaCusto"
                  placeholder="Ex: 20000">
              </div>
            </div>

          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="">
              <label for="exampleInputEmail1">por quantos meses quer acumular?</label>
            </div>
            <div class="">
              <div class="form-group">
                <input (input)="myFunction_3()" [(ngModel)]="terceiraTela.meses" type="number" min="1"
                  class="form-control" style="text-align:right !important;" id="terceiraTelaMeses" placeholder="Ex: 12">
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="container-fluid"
        *ngIf="menu.op3 && terceiraTela.custo >= 0 && terceiraTela.meses >0 && terceiraTela.custo >0 ">
        <div class="row  justify-content-md-center">
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Com gasto mensal de
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      {{terceiraTela.custo | currency:'BRL':true}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Durante</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{terceiraTela.meses.toFixed(0)}} meses
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">VOCÊ TERA ACUMULADO</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      {{terceiraTela.pontos | currency:" ":"symbol"}} pontos</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="container-fluid mt-2" *ngIf="model.validadePontos >=0">
        <hr class=".border-bottom-success">
        <div class="row justify-content-center">
          <div class="col-auto mb-8">
            <h5 class="">
              <div class="row justify-content-center">
                <b> A validade dos pontos desse cartão são de:<span class="text-danger"> {{model.validadePontos }}
                  </span> meses</b>
              </div>
              <div class="row justify-content-center" *ngIf="model.validadePontos == 0">
                <b> Este cartão não expira os pontos</b>
              </div>
            </h5>
          </div>
        </div>
        <hr class=".border-bottom-success">
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white ">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Simulador de Milhas 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>



  </div>



</body>

</html>