<!-- Content Row -->
<div class="row justify-content-md-center">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="">
      <label for="exampleInputEmail1">qual o seu gasto mensal no cartão?</label>
    </div>
    <div class="">
      <div class="form-group">
        <input (input)="myFunction_2()" currencyMask [(ngModel)]="segundaTela.custo"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" min="1" class="form-control"
          placeholder="Ex: R$2000" />
      </div>
    </div>

  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="">
      <label for="exampleInputEmail1">quantos pontos quer acumular?</label>
    </div>
    <div class="">
      <div class="form-group">
        <input (input)="myFunction_2()" currencyMask [(ngModel)]="segundaTela.pontos"
          [options]="{ prefix: '', thousands: '.', decimal: ',' }" min="1" class="form-control" id="pontosAcumulados"
          aria-describedby="emailHelp">

      </div>
    </div>

  </div>
</div>

<div class="container-fluid" *ngIf="segundaTela.meses >= 0 && segundaTela.custo >0 && segundaTela.pontos >0">
  <div class="row  justify-content-md-center">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Para acumular no cartão
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{segundaTela.pontos | currency:" ":"symbol"}}
                pontos</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Com gasto mensal de
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{segundaTela.custo | currency:'BRL':true}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">VOCÊ IRÁ ACUMULAR EM</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{segundaTela.meses.toFixed(0)}} meses
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>